 
    <div class="bg-gray-800 h-48 w-screen fixed z-10 h-36 drop-shadow-lg rounded-lg flex flex-row pt-24">
       <div class="pl-7">
        <a href="/#"><img src="assets/wmenu.jpg" width="50" height="30"/></a>
       </div>
       <div class="flex flex-row">
         <div class="">
            <h1  class="text-4xl text-white font-bold pl-56">Well Come to Our Hotel</h1>
           </div>
           <div>
           <ul class="flex flex-row float-right text-lg italic font-bold gap-5 ml-32 mt-3"> 
            <a routerLink="/home" ><li class="bg-white rounded-md p-1  hover:bg-black hover:text-white">Home</li></a>    
            
            <a routerLink="/aboutus"><li class="bg-white rounded-md p-1  hover:bg-black hover:text-white">About us</li></a>
            <a routerLink="/service" ><li class="bg-white rounded-md p-1  hover:bg-black hover:text-white">Our service</li></a>
            <a routerLink="/contact" > <li class="bg-white rounded-md p-1  hover:bg-black hover:text-white">Contact us</li></a>
         </ul>
           </div>
       </div>
    </div>


     

